@page "/"

<PageTitle>房屋日照时间计算器</PageTitle>

<h1>房屋日照时间计算器</h1>
<Tab>
    <TabItem Text="高级">
        <AdvancedCalculator />
    </TabItem>
    <TabItem Text="基础">
        <SimpleCalculator />
    </TabItem>
</Tab>

@code {

}